/* contenedor con tres ejemplos de tooltips */

.contenedor {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	padding: 0 2rem;
}

/* configuración de caja de texto */

.textoEjemplo{
	background-color: #004F90;
	border-radius: 0.375rem;
	color: #FFF;
	font-family: 'Encode Sans';
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.5rem;
	padding: .625rem 1.313rem .625rem .75rem;
	position: relative;
}

/* configuración de flechas indicadoras */

.tooltipAbajo p::before,
.tooltipDerecha p::before,
.tooltipIzquierda p::before{
	content: '';
	border: .875rem solid transparent;
	border-bottom-color: #004F90;
	border-top: none;
	bottom: 100%;
	height: 0;
	position: absolute;
	width: 0;
}

.tooltipAbajo p::before {
	left: 1em; 
}

.tooltipDerecha p::before {
	left: -1.448em;
	top: 1.06em;
	transform: rotate(-90deg);
}

.tooltipIzquierda p::before {
	left: 11.88em; /* cambiar según ancho de texto */
	top: 1.06em;
	transform: rotate(90deg);
}
